{%  extends 'accounts/main.html' %}

{% block content %}
<div class="row">
    {% for i in words %}
    <br>

    <div class="col-md-4">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{i.word}}</h5>
            <p class="card-text">{{i.definition}}</p>
            <a class="btn btn-primary" href="{% url 'vocab_detail' i.id %}">Detail</a>
        </div>
    
        </div>
    </div>

    <br>
    <br>
    <br>
    {% endfor %}
  </div>




{% endblock %}